@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the base neumorphic background color for the entire app */
body {
  background-color: #e0e5ec;
  color: #334155; /* tailwind slate-700 */
  font-family: Arial, Helvetica, sans-serif;
}
